.button, .jfx-button, .combo-box, .choice-box, .check-box, .radio-button:hover {
    -fx-cursor: hand;
}

.background-yellow {
    -fx-background-color: #f5c518;
}

.background-black {
    -fx-background-color: #000000;
}

.background-darkgrey {
    -fx-background-color: #1d1d1d;
}

.background-light-black {
    -fx-background-color: #454545;
}

.text-yellow {
    -fx-text-fill: #f5c518;
}

.text-white {
    -fx-text-fill: #ffffff;
}

.text-grey-italic {
    -fx-text-fill: #bbbbbb;
    -fx-font-style: italic;
}

.list-view .list-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.placeholder-label {
    -fx-text-fill: #f5c518;
    -fx-font-size: 16px;
    -fx-font-style: italic;
}

.movie-cell .text-grey-italic {
    -fx-text-fill: #bbbbbb;
    -fx-font-style: italic;
}

.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
}

.check-combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #f5c518;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 4 6 4 6;
    -fx-font-size: 13px;
}

.check-combo-box .label {
    -fx-text-fill: #808080; /* Grau für Placeholder */
}

.button {
    -fx-background-color: #e0b400;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #fcd34d;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #cccccc;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.nav-button:hover {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.active-nav-button {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 0;
}

.sandwich-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-padding: 5 12 5 12;
    -fx-border-color: transparent;
    -fx-translate-y: -2px;
}

.sandwich-button:hover {
    -fx-background-color: #000000;
}