
.background-yellow {
    -fx-background-color: #f5c518;
}

.background-black {
    -fx-background-color: #000000;
}

.background-light-black {
    -fx-background-color: #454545;
}

.text-yellow {
    -fx-text-fill: #f5c518;
}

.text-white {
    -fx-text-fill: #ffffff;
}

.text-grey-italic {
    -fx-text-fill: #bbbbbb;
    -fx-font-style: italic;
}

.list-view .list-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.placeholder-label {
    -fx-text-fill: #f5c518;
    -fx-font-size: 16px;
    -fx-font-style: italic;
}

.movie-cell .text-grey-italic {
    -fx-text-fill: #bbbbbb;
    -fx-font-style: italic;
}

.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
}

.check-combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #f5c518;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 4 6 4 6;
    -fx-font-size: 13px;
}

.check-combo-box .label {
    -fx-text-fill: #808080; /* Grau für Placeholder */
}

.button {
    -fx-background-color: #e0b400;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #fcd34d;
}